.wrap.background
  #content-existing.left-col.wrap.content
    = partial :section, {:locals => {:title => "Pouet Aspects Aspects", :stringency => "Mandatory", :content => {:tmpl => "buildings/codes/legal", :params => ""} } }
  