#footer.wrap
  .left-col.bottom-line
    .popular.wrap
      %h2 Export
      %ul
        %li(:style="text-align: left;")
          %a(:href="#") Download as an Excel file
  .left-col
    .popular.wrap
      %h2 How to Use
      %ul
        %li(:style="text-align: left;")= help
  #copyright.wrap
    .left-col
      %p 2011
    .right-col