.vertical-middle
  %h2
    %a(href="http://www.legislation.gov.uk/uksi/2010/2214/pdfs/uksi_20102214_en.pdf" target="_blank" title="UK Building Code") The Buildings Regulations 2010
.separator

.flush
  %p.left.header Latest revision
  %p.right 2010
.flush.separator

.flush
  %p.left.header Implementation
  %p.right Local authority
.flush
  %p.left.header Verification
  %p.right Local authority / Approved inspector
.flush
  %p.left.header Enforcement
  %p.right Local authority
.flush.separator

.flush
%a#more-toggle.seemore-toggle(href="#") See less
#more-box.seemore
  %p.header Legal reference
  %ul
    %li
      %a(href="http://www.legislation.gov.uk/uksi/2010/2214/pdfs/uksi_20102214_en.pdf") The Buildings Regulation 2010
    %li
      %a(href="http://www.planningportal.gov.uk/buildingregulations/approveddocuments/") Approved documents
  %p.header Software for calculating building energy codes
  %ul
    %li
      %a(href="http://www.bre.co.uk/sap2009/page.jsp?id=1642") SAP (Standard Assessment Procedure)